[submodule "todo-frontend"]
	path = todo-frontend
	url = git@github.com:Luckykarter/todo-frontend.git
[submodule "todo-list-backend"]
	path = todo-list-backend
	url = git@github.com:Kai137mail/todo-list-backend.git
